$background-color: #bebebe;

body {
  background: $background-color;
}

@mixin transition-ease {
  transition: all 0.3s ease-in-out;
}

.card {
  width: 18rem;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }

  .card-img-top {
    border-radius: 1.25rem 1.25rem 0 0;
  }

  .card-body {
    background: #fff;
    color: #000;
    height: 8rem;
    border-radius: 0 0 1.25rem 1.25rem;
    @include transition-ease;

    &:hover {
      background: #000;
      color: #fff;
    }

    .card-title {
      cursor: default;
    }
  }
}
